<h2 class="title">Sign Up</h2>


<mat-card class="login-card">
    <mat-card-content class="card-content">

        <form [formGroup]="form" (ngSubmit)="submit()" class="auth-form">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" />
            </mat-form-field>

            <button mat-raised-button color="primary" class="login-btn" type="submit" [disabled]="form.invalid">
                Sign Up
            </button>
        </form>

        <span class="divider">Already have an account:</span>


        <div class="auth-footer">
            <button mat-stroked-button (click)="login()">Log In</button>
        </div>

        <mat-error *ngIf="errorMessage" class="error">
            {{ errorMessage }}
        </mat-error>
    </mat-card-content>
</mat-card>